/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#define DEFAULT 0
#define LTHUMB 1
#define RSPECIAL 2
#define NUMBERS 3
#define NAVIGATE 4
#define QWERTY 5

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  ESC  |  Q  |  D  |  R   |  W   |  B   |                                          |  J   |  F    |  U    |  P   |   ;   |   \  |
// |  ALT  |  A  |  S  |  H   |  T   |  G   |                                          |  Y   |  N    |  E    |  O   |   I   |   '  |
// |  GUI  |  Z  |  X  |  M   |  C   |  V   | L SHIFT | L SHIFT |  | L SHIFT | L SHIFT |  K   |  L    |  ,    |  .   |   /   | GUI |
//                     | GUI  | DEL  | RET  |  SPACE  |   ESC   |  |   RET   |  SPACE  | TAB  | BSPC  | R-ALT |
			bindings = <
	&kp ESC   &kp Q &kp D &kp R &kp W &kp B                                                &kp J &kp F  &kp U     &kp P   &kp SEMI    &to QWERTY
	&kp LALT   &kp A &kp S &kp H &kp T &kp G                                                &kp Y &kp N  &kp E     &kp O   &kp I &kp SQT
	&kp LGUI  &kp Z &kp X &kp M &kp C &kp V &kp LSHFT &kp LSHFT        &kp RCTRL &mo NAVIGATE &kp K &kp L  &kp COMMA &kp DOT &kp FSLH &kp RGUI
	                 &kp LGUI &kp TAB &kp LSHFT &mo LTHUMB &kp ESC      &mo RSPECIAL  &kp SPACE  &mo NUMBERS &kp LBKT &kp RBKT
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
		};
		
		lthumb {
		
                        bindings = <
	&none   &none &none &kp ENTER &none  &none                                      &kp C_VOL_UP &none  &none &kp PSCRN &none &none
	&none   &kp LA(TAB) &kp TAB &kp LC(TAB) &none &none                               &kp C_MUTE &kp LEFT &kp DOWN &kp UP &kp RIGHT &none
	&none  &none &none &none &none &none &none &none         &none &none &kp C_VOL_DN &kp DEL  &kp BSPC &none &none &none
	                 &none &none &none &mo LTHUMB &none      &none  &none  &none &kp LPAR &kp RPAR
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
		};
		
		RSPECIAL {
		
                        bindings = <
	&none   &none &kp MINUS &kp AMPS &kp F2  &kp EXCL                     &none &kp PG_UP  &kp LS(MINUS)  &none &none &none
	&none   &kp AT &kp STAR &kp HASH &kp PLUS &kp GRAVE                   &kp TILDE &kp HOME  &kp EQUAL &kp LC(LG(RIGHT)) &kp PIPE &none
	&none &none &none &kp DLLR &kp CARET &kp F3 &none &none        &none &none &none &kp PG_DN &none &kp LC(LG(LEFT)) &kp BSLH &none
	                      &none &none &none &mo LTHUMB &none       &mo RSPECIAL  &none  &none &none &none
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
		};
		
		NUMBERS {
		
                        bindings = <
	&none  &kp FSLH &kp N7 &kp N8 &kp N9 &kp PLUS                                 &none &none &none &none &none &none
	&kp LCTRL  &kp STAR &kp N4 &kp N5 &kp N6 &kp MINUS                                 &none &none &none &none &none &none
	&kp LSHFT  &kp BSPC &kp N1 &kp N2 &kp N3 &none &none &none         &none &none &none &none &none &none &none &none
	                   &none &none &kp DOT &kp N0 &none         &none  &none &mo NUMBERS &none &none
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
		};
		
		NAVIGATIE {
		
                        bindings = <
	&none  &none &none &none &none &none                                 &none &none &none &none &none &none
	&none  &none &none &none &none &none                                 &none &none &none &none &none &none
	&none  &none &none &none &none &none &none &none         &none &mo NAVIGATE &none &none &none &none &none &none
	                   &none &none &none &none &none         &none  &none  &none &none &none
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
		};
		
		QWERTY {
		
                        bindings = <
	&none  &kp Q &kp W &kp E &kp R &kp T                                 &kp Y &kp U &kp I &kp O &kp P &to QWERTY
	&none  &kp A &kp S &kp D &kp F &kp G                                 &kp H &kp J &kp K &kp L &kp ; &kp '
	&none  &kp Z &kp X &kp C &kp V &kp kp B &none &kp ENTER         &none &none &kp N &kp M &kp COMMA &kp DOT &kp / &none
	                   &none &none &none &none &kp ENTER         &kp BSPC  &kp SPACE  &none &none &none
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
		};
	};
};
